bootstrap/cache/services.php
public/build

storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*

database/*.sqlite
database/mounted/*.sqlite

vendor

**/*node_modules

**.git
.idea
**.gitignore
**.gitattributes
**.sass-cache
*.env*

?ulpfile.js
?untfile.js
phpunit.xml
readme.md
phpspec.yml


docker-compose.yml
run
run.ps1
